html, body {
  font-family: 'roboto condensed', 'Trebuchet MS';
  margin: 0;
  overflow: scroll;
}

p {
  word-spacing: .2em;
}

.hero {
  text-align: center;
  background: #122227;
  color: #fff;
  padding-bottom: 2px;
  max-width: max-content;
}

ul {
  list-style: none;
  display: flex;
}

nav {
  display: flex;
  padding: 0 40px;
}

li {
  padding: 20px 20px;
  margin: 10px;

}

.abbr {
  font-size: 50px;
  font-family: 'Ubuntu';
  margin-right: 70%;
}

.yellow-dots {
  font-weight: bolder;
  color: #ffdb5c;
  font-size: 40px;
}

a {
  color: #faebd7;
  text-decoration: none;
  font-weight: bolder;

}

.container {
  display: flex; 
  margin: 20px 0;
}

.social {
  width: 30%;
  padding: 90px;
  margin: auto 0;
}

.avatar {
  margin: 0 10px;
  padding: 90px;
}

.introduction {
  width: 60%;
  padding: 90px;
  margin: auto 0;
}

.social a {
  padding: 3px 3px; 
}

.container img {
  max-width: 100%;
  height: auto;
}

.yellow-heading {
  font-family: 'Ubuntu';
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffdb5c; 
}

.services {
  text-align: center;
  padding: 100px 0 150px;
}

.skills-container {
  display: flex;
}

.skill {
  margin: 30px auto;
}

.contact {
  text-align: center;
  background: #122227;
  color: #fff;
}

.contact h3 {
  padding-top: 30px;
}


.info {
  display: flex;
  padding-bottom: 50px;
}

.contact-info {
  display: flex;
  margin: 0 auto;
}

.contact-info p {
  margin: auto 0;
}

footer {
  text-align: center;
  font-style: italic;
  margin-top: 0;
}